@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body, body * {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: blueviolet;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.flex-center {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 100px;
}

p span {
    font-family: 'Inconsolata', monospace;
    display : block;
    background-color: rebeccapurple;
    border: dotted 2px white;
    border-radius: 16px;
    padding: 16px;
}

.bounce {
    animation: bounce-anim 1s cubic-bezier(0.4, 1.4, 0.35, 0.9);
  }
  
  @keyframes bounce-anim {
    from {
        color : white
      transform: rotate(-39deg) scale (0%) ;
    }
  
    to {
      opacity: 1;
      transform: rotate(0); scale: (100%);
    }
  }